{% extends 'base.html' %}

{% block content %}

<h1>📊 Study Analytics</h1>

<div class="card">
    <canvas id="chart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
fetch('/graph_data')
.then(res => res.json())
.then(data => {

    if (data.dates.length === 0) {
        document.getElementById("chart").outerHTML =
            "<p>No data available 📭</p>";
        return;
    }

    const ctx = document.getElementById('chart').getContext('2d');

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: data.dates,
            datasets: [{
                label: 'Study Hours',
                data: data.hours,
                borderWidth: 2,
                fill: true,
                tension: 0.4
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

});
</script>

{% endblock %}